# Allow Settings to read ro.vendor.build.security_patch
get_prop(system_app, vendor_security_patch_level_prop)

# Allow access to the HALs
hal_client_domain(system_app, hal_lineage_fastcharge)
hal_client_domain(system_app, hal_lineage_livedisplay)
hal_client_domain(system_app, hal_lineage_touch)

# Read selinux status
allow system_app selinuxfs:file r_file_perms;

# Grant Settings app full access to FOD resources
allow system_app fod_res_file:dir create_dir_perms;
allow system_app fod_res_file:file create_file_perms;
