type updater_app, domain, coredomain;

app_domain(updater_app)

binder_call(updater_app, gpuservice)
binder_call(updater_app, update_engine)

allow updater_app update_engine_service:service_manager find;
